.dashboard-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: #4b6a9c;
  padding: 20px;
}
.user-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.user-card {
  list-style-type: none;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
