
.table {
  border:1px solid black;
  margin-bottom: 40px;
  margin-top: 30px;
  
}
.trEl {
  border:1px solid black;
  
}
.bg-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 text-align: center;
 
}