<html>
    <body>
        <h1>hello everyone</h1>
        <ul>
            <%storelist.map(function(eachProduct){%>
                
                
                <li><%=eachProduct.name%></li>
            <%})%>
            
        </ul>
        
        
    </body>

</html>